<div class="login-page">
  <div class="box">
    <h2 class="has-text-centered title is-size-4">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: 'labels' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <%= f.submit "Send me reset password instructions", class: 'button is-link is-fullwidth' %>
    <% end %>

    <hr>
    <div class="buttons has-addons is-centered">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
