<div class="box">
  <%= form_for @account do |f| %>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= f.label :first_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :first_name, class: 'input', required: true %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :middle_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :middle_name, class: 'input' %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :last_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :last_name, class: 'input', required: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= f.label :job_title, class: 'label' %>
          <div class="control">
            <%= f.text_field :job_title, class: 'input' %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :department, class: 'label' %>
          <div class="control">
            <%= f.text_field :department, class: 'input' %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= f.label :address1, class: 'label' %>
          <div class="control">
            <%= f.text_field :address1, class: 'input', required: true %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :address2, class: 'label' %>
          <div class="control">
            <%= f.text_field :address2, class: 'input' %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= f.label :city, class: 'label' %>
          <div class="control">
            <%= f.text_field :city, class: 'input', required: true %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :state, class: 'label' %>
          <div class="control">
            <%= f.text_field :state, class: 'input', required: true, maxlength: 2 %>
          </div>
          <p class="help is-danger">Only 2 letters for state</p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= f.label :zip_code, class: 'label' %>
          <div class="control">
            <%= f.text_field :zip_code, class: 'input', required: true, maxlength: 5 %>
          </div>
          <p class="help is-danger">Only 5 digits</p>
        </div>
      </div>
    </div>

    <%= f.submit 'Update', class: 'button is-link' %>

  <% end %>
</div>